In [ ]:
Contents
1.Importing libaries
2. Importing data
3. Merging data sets
df_merged = df_orders_products_combined.merge

01. Importing libraries

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

02. Importing data

In [4]:
#Importing data
df_orders_products_combined = pd.read_pickle(r'C:\Users\kelly\OneDrive\Desktop\Prepared Data\orders_products_combined.pkl')

In [5]:
df_orders_products_combined.shape

(30356421, 13)

In [6]:
#Importing data
df_products_checked = pd.read_csv(r'C:\Users\kelly\OneDrive\Desktop\Prepared Data\products_checked.csv', index_col = False)

In [7]:
df_orders_products_combined

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,2398795,prior,2,3,7,15.0,196,1,1,both
1,1,1,2398795,2398795,prior,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,2398795,prior,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,2398795,prior,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,2398795,prior,2,3,7,15.0,26088,5,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30356416,3421081,3421081,2977660,2977660,prior,13,1,12,7.0,14197,5,1,both
30356417,3421081,3421081,2977660,2977660,prior,13,1,12,7.0,38730,6,0,both
30356418,3421081,3421081,2977660,2977660,prior,13,1,12,7.0,31477,7,0,both
30356419,3421081,3421081,2977660,2977660,prior,13,1,12,7.0,6567,8,0,both
30356420,3421081,3421081,2977660,2977660,prior,13,1,12,7.0,22920,9,0,both

In [9]:
df_products_checked

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
# Merging data sets
df_merged = df_orders_products_combined.merge(df_products_checked, on = 'product_id')

In [11]:
#Merged results
df_merged

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,1,1,2398795,2398795,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
1,2,2,473747,473747,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
2,3,3,2254736,2254736,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
3,4,4,431534,431534,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0
4,5,5,3367565,3367565,prior,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30328758,3360494,3360494,31526,31526,prior,18,5,11,3.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7
30328759,3376039,3376039,2745165,2745165,prior,2,3,5,15.0,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9
30328760,3388472,3388472,850996,850996,prior,12,2,3,25.0,37595,20,0,both,37599,Dead Sea Minerals Eucalyptus Triple Milled Soap,25,11,13.5
30328761,3392718,3392718,2550789,2550789,prior,6,3,15,7.0,37595,9,0,both,37599,Dead Sea Minerals Eucalyptus Triple Milled Soap,25,11,13.5
30328762,3395727,3395727,2518919,2518919,prior,10,2,21,11.0,20543,16,0,both,20544,Soleil Razors,55,11,5.1

In [14]:
df_merged.to_pickle(r'C:\Users\kelly\OneDrive\Desktop\Prepared Data/orders_products_merged.pickle')